#main-div{
    display: inline-block;
    padding: 2px;;

}
.r2{
    height: 50px;
    width: 50px;
    border: 1px;
    background-color: rgb(147, 71, 218);
    display: inline-block;
    margin: -2px;
    padding: 12.5px;
    box-sizing: border-box;
}
.r1{
    height: 50px;
    width: 50px;
    border: 1px;
    background-color: rgb(230, 199, 199);
    display: inline-block;
    margin: -2px;
    padding: 12.5px;
    box-sizing: border-box;
}