#main-div{
    width: 396px;
    /* height: 400px; */
    border: 15px solid rgb(52, 37, 6);
    margin: auto;
}
.r2{
    height: 50px;
    width: 50px;
    border: 1px;
    background-color: rgb(106, 78, 0);
    display: inline-block;
    margin: -2px;
    padding: 12px 0px 0px 14px;
    box-sizing: border-box;
}
.r1{
    height: 50px;
    width: 50px;
    border: 1px;
    background-color: rgb(180, 145, 48);
    display: inline-block;
    margin: -2px;
    padding: 12px 0px 0px 14px;

    box-sizing: border-box;
}